@model  CustomerMVCAssignment.ViewModel.CreateCustomerViewModel
@{
    ViewBag.Title = "createCustomer";
}

<h2>createCustomer</h2>
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create Employee</title>
    <script>
        function ResetForm() {
            document.getElementById("TxtFName").value = "";
            document.getElementById("TxtLName").value = "";
            document.getElementById("TxtAge").value = "";
        }
    </script>
</head>
<body>
    <div>
        <form action="/Customer/SaveCustomer" method="post">
            <table>
                <tr>
                    <td>
                        FirstName:
                    </td>
                    <td>
                        <input type="text" id="TxtFName" name="FirstName" value="@Model.FirstName" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="right">
                        @Html.ValidationMessage("FirstName")
                    </td>
                </tr>
                <tr>
                    <td>
                        LastName:
                    </td>
                    <td>
                        <input type="text" id="TxtLName" name="LastName" value="@Model.LastName" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="right">
                        @Html.ValidationMessage("LastName")
                    </td>
                </tr>
                <tr>
                    <td>
                        Age:
                    </td>
                    <td>
                        <input type="text" id="TxtAge" name="Age" value="@Model.Age" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="right">
                        @Html.ValidationMessage("Age")
                    </td>
                </tr>
                <tr>
                    <td><input type="submit" name="BtnSubmit" value="Save Customer" /></td>
                    <td><input type="button" name="BtnReset" value="Reset" onclick="ResetForm()" /></td>
                    <td><input type="submit" name="BtnSubmit" value="Cancel" /></td>
                </tr>
            </table>
            @*<input type="submit" name="BtnSubmit" value="Save Customer" />*@
        </form>
    </div>
</body>
</html>
